    <div class="container">
        <div class="row">
          <div class="col-4">
            <div class="avatar">
            <img src="assets/waterfall.jpg" />
          </div>
          <div class="download-button">
              <button mat-stroked-button><a href="assets/CIRR_resume.pdf" target="_blank">Resume</a></button>
            </div>
          </div>
          <div class="col-8">
              <mat-card-header>About Me </mat-card-header>
              <mat-card-content>
                <p>
                  Currently working towards my Bachelor’s Degree in Information
                  Systems at UMSL while working as a Mobile Application
                  Developer Co-Op at Ameren. I am passionate about the creative
                  and visual programming aspect of software and app
                  development, business web pages, and UX Design. My goal is to
                  become a full-stack developer and a freelance UX/UI Designer.
                </p>
                  <br>
                <p>

                </p>
              </mat-card-content>
            </div>
          <div class="w-100"></div>
          <div class="col-4">
          </div>
          <div class="col-8">

              <mat-card-header>Contact Details </mat-card-header>

              <div class="contact-grid"
              gdAreas="email myEmail | phone myPhone | location myLocation | languages myLanguages"
              gdGap="16px"
              gdRows="auto auto auto"
            >
              <div gdArea="email" class="category">
                Email:
              </div>
              <div gdArea="myEmail" >
                {{ email }}
              </div>
              <div gdArea="phone" class="category">
                Phone:
              </div>
              <div gdArea="myPhone">
                {{ phone }}
              </div>
              <div gdArea="location" class="category">
                Current Location:
              </div>
              <div gdArea="myLocation">
                {{ currentLocation }}
              </div>
              <div gdArea="languages" class="category">
                Languages:
              </div>
              <div gdArea="myLanguages">
                {{ languages }}
              </div>
            </div>


          </div>
        </div>
      </div>

