mat-card-header {
  display: block;
  font-size: 25px;
  font-weight: bolder;
  padding-bottom: 15px;
}

mat-card-content {
  display: block;
  font-size: 16px;
}

.container {
  padding-bottom: 65px !important;
}

// .avatar {
//   display: flex;
//   align-items: flex-start;
//   justify-content: flex-start;
//   text-align: center;
// }

@media (max-width: 995px) {
   button {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    vertical-align: top !important;
    }
 };

 @media (max-width: 995px) {
  .category {
    font-size: 15px !important;
  }
  .contact-grid {
    font-size: 15px;
  }
};

.download-button {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.contact-grid {
  justify-content: flex-start;
}

@media (max-width: 995px) {
  img {
    width: 100%;
    height: auto;
  }
 };

 img {
  display: flex;
  max-height: 400px;
  opacity: 0.80;
  margin-bottom: 20px;
}


div {
  align-items: center;
  justify-content: center;
}

.category {
  font-size: 20px;
  font-weight: bolder;
}
