<mat-divider></mat-divider>
<mat-card>
  <mat-card-header>About Me </mat-card-header>
  Hello this is where I am going to put stuff about me and whatnot. Hello this
  is where I am going to put stuff about me and whatnot. Hello this is where I
  am going to put stuff about me and whatnot. Hello this is where I am going to
  put stuff about me and whatnot. Hello this is where I am going to put stuff
  about me and whatnot. Hello this is where I am going to put stuff about me and
  whatnot. Hello this is where I am going to put stuff about me and whatnot.
  Hello this is where I am going to put stuff about me and whatnot. Hello this
  is where I am going to put stuff about me and whatnot. Hello this is where I
  am going to put stuff about me and whatnot. Hello this is where I am going to
  put stuff about me and whatnot. Hello this is where I am going to put stuff
  about me and whatnot. Hello this is where I am going to put stuff about me and
  whatnot. Hello this is where I am going to put stuff about me and whatnot.
  Hello this is where I am going to put stuff about me and whatnot. Hello this
  is where I am going to put stuff about me and whatnot. Hello this is where I
  am going to put stuff about me and whatnot.
</mat-card>
<mat-card>
  <mat-card-header>Contact Details </mat-card-header>
  <mat-list>
    <div
      gdAreas="email myEmail | phone myPhone | location myLocation | languages myLanguages"
      gdGap="16px"
      gdRows="auto auto auto"
    >
      <div gdArea="email">
        Email
      </div>
      <div gdArea="myEmail">
        {{ email }}
      </div>
      <div gdArea="phone">
        Phone
      </div>
      <div gdArea="myPhone">
        {{ phone }}
      </div>
      <div gdArea="location">
        Current Location
      </div>
      <div gdArea="myLocation">
        {{ currentLocation }}
      </div>
      <div gdArea="languages">
        Languages:
      </div>
      <div gdArea="myLanguages">
        {{ languages }}
      </div>
    </div>
  </mat-list>
</mat-card>
