mat-card-header {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 20px;
  font-weight: bolder;
  color: black !important;
  background: white !important;
}
