    <div class="container">
        <div class="row">
          <div class="col-4">
            <div class="avatar">
            <img src="assets/waterfall.jpg" />
          </div>
          <div class="download-button">
              <button mat-stroked-button><a href="assets/CIRR_resume.pdf" target="_blank">Resume</a></button>
            </div>
          </div>
          <div class="col-8">
              <mat-card-header>About Me </mat-card-header>
              <mat-card-content>
                <p>
                  Recent graduate of the <strong>University of Missouri - St. Louis</strong>. Obtained a <strong>Bachelor's Degree
                  in Information Systems and Technology in December 2019</strong>. After a year of working full-time
                  as a co-op at Ameren Corporation and pursuing my Bachelor's Degree full-time, I have been converted to a
                  full-time Software Engineer at <strong>Ameren Corporation</strong> .

                  <br/>

                  I am passionate about programming and the design of software and applications.
                  I enjoy learning new technologies, as well as expressing my creative mind in the arts.
                <strong>My goal is to become a full-stack developer and freelance UX/UI designer. </strong>

                </p>
                  <br>
                <p>

                </p>
              </mat-card-content>
            </div>
          <div class="w-100"></div>
          <div class="col-4">
          </div>
          <div class="col-8">

              <mat-card-header>Contact Details </mat-card-header>

              <div class="contact-grid"
              gdAreas="email myEmail | phone myPhone | location myLocation | languages myLanguages"
              gdGap="16px"
              gdRows="auto auto auto"
            >
              <div gdArea="email" class="category">
                Email:
              </div>
              <div gdArea="myEmail" >
                {{ email }}
              </div>
              <div gdArea="phone" class="category">
                Phone:
              </div>
              <div gdArea="myPhone">
                {{ phone }}
              </div>
              <div gdArea="location" class="category">
                Current Location:
              </div>
              <div gdArea="myLocation">
                {{ currentLocation }}
              </div>
              <div gdArea="languages" class="category">
                Languages:
              </div>
              <div gdArea="myLanguages">
                {{ languages }}
              </div>
            </div>


          </div>
        </div>
      </div>

