<mat-card>
    <div class="container">
        <div class="row">
          <div class="col-4">

            hello

          </div>
          <div class="col-8">
              <mat-card-header>Title </mat-card-header>
              <mat-card-content>Content</mat-card-content>
            </div>
          <div class="w-100"></div>
          <div class="col-4">
            Another div
          </div>
          <div class="col-8">

              <mat-card-header>Another Title </mat-card-header>

             hello


          </div>
        </div>
      </div>



</mat-card>
