    <div class="container">
        <div class="row">
          <div class="col-4">
              <div class="avatar">
                  <button mat-button>
                  <img src="assets/illustrator-logo.png" />
                  <div class="overlay">
                      <mat-card-title>
                          Adobe Illustrator
                        </mat-card-title>
                  </div>
                </button>
                </div>
          </div>
          <div class="col-4">
              <div class="avatar">
                  <button mat-button>
                  <img src="assets/adobe-xd-logo.svg" />
                  <div class="overlay">
                      <mat-card-title>
                          Adobe XD
                        </mat-card-title>
                  </div>
                </button>
                </div>
            </div>
            <div class="col-4">
                <div class="avatar">
                    <button mat-button>
                    <img src="assets/photoshop-logo.png" />
                    <div class="overlay">
                        <mat-card-title>
                            Adobe Photoshop
                          </mat-card-title>
                    </div>
                  </button>
                  </div>
            </div>
          </div>
          <div class="w-100"> </div>
          <div class="row">

          <div class="col-4">
            <div class="avatar">
                <button mat-button>
              <img src="assets/photography.png" />
              <div class="overlay">
                  <mat-card-title>
                    Photography
                    </mat-card-title>
              </div>
            </button>
          </div>
          </div>
          <div class="col-4">
              <div class="avatar">
                  <button mat-button>
                <img src="assets/github-logo-black.png" />
                <div class="overlay">
                    <mat-card-title>
                        Github
                      </mat-card-title>
                </div>
              </button>
            </div>
          </div>
            <div class="col-4">
                <div class="avatar">
                  <button mat-button>
                  <img src="assets/logo-sketch.png" />
                  <div class="overlay">
                      <mat-card-title>
                          Logos
                        </mat-card-title>
                  </div>
                </button>

              </div>
          </div>
        </div>

      </div>

