    <div class="container">
        <div class="row">
          <div class="col-4">
              <div class="avatar">
                  <button mat-button>
                  <img src="assets/illustrator-logo.png" />
                </button>
                </div>
          </div>
          <div class="col-4">
              <div class="avatar">
                  <button mat-button>
                  <img src="assets/adobe-xd-logo.svg" />
                </button>
                </div>
            </div>
            <div class="col-4">
                <div class="avatar">
                    <button mat-button>
                    <img src="assets/photoshop-logo.png" />
                  </button>
                  </div>
            </div>
          </div>
          <div class="w-100"> </div>
          <div class="row">

          <div class="col-4">
            <div class="avatar">
                <button mat-button>
              <img src="assets/photography.png" />
            </button>
          </div>
          </div>
          <div class="col-4">
              <div class="avatar">
                  <button mat-button>
                <img src="assets/github-logo-black.png" />
              </button>
            </div>
          </div>
            <div class="col-4">
                <div class="avatar">
                  <button mat-button>
                  <img src="assets/logo-sketch.png" />
                </button>
              </div>
          </div>
        </div>

      </div>

