mat-card-header {
  display: block;
  font-size: 25px;
  font-weight: bolder;
  padding-bottom: 15px;
}

mat-card-content {
  display: block;
  font-size: 16px;
}

.container {
  padding-bottom: 65px !important;
}

div {
  align-items: center;
  justify-content: center;
}

.avatar {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

@media (max-width: 995px) {
  img {
    width: 100%;
    height: auto;
  }
 };

 img {
  display: flex;
  max-width: 300px;
  width: 100%;
  height: auto;
  max-height: 300px;
  margin-bottom: 20px;
}

button {
  width: 100%;
  height: auto;
}
