<mat-toolbar>
  <span class="center-toolbar">
    <button mat-button (click)="scrollToElement(aboutMe)">ABOUT ME</button>
    <button mat-button (click)="scrollToElement(resume)">RESUME</button>
    <button mat-button (click)="scrollToElement(portfolio)">PORTFOLIO</button>
    <button mat-button (click)="scrollToElement(contact)">CONTACT</button>
  </span>
</mat-toolbar>

<mat-card>
  <img
    mat-card-image
    src="{{ altBackgroundImage }}"
    alt="{{ backgroundImage }}"
    class="backgroundImageClass"
  />
  <div class="logo-title-subtitle">
    <div class="logo-div"><img mat-card-avatar src="{{ logo }}" /></div>
    <mat-card-title-group>
      <mat-card-title>
        {{ title | uppercase }}
      </mat-card-title>
      <mat-card-subtitle>
        Application Developer | Graphic Designer
      </mat-card-subtitle>
      <mat-card-subtitle class="icons">
        <a href="https://github.com/CIRR14" target="_blank">
        <img class="github-icon" src="../assets/github.png">
      </a>
      <a href="https://www.linkedin.com/in/ivanromero14/" target="_blank">
        <img class="linkedin-icon" src ="../assets/linkedin.svg">
      </a>
      </mat-card-subtitle>
    </mat-card-title-group>
  </div>
</mat-card>

<div #aboutMe><about-me></about-me></div>

<div #resume><resume></resume></div>

<div #portfolio><portfolio></portfolio></div>

<div #contact><contact></contact></div>



