<!--The content below is only a placeholder and can be replaced.-->
<mat-toolbar>
  <span class="center-toolbar">
  <button mat-button (click)="scrollToElement(aboutMe)">ABOUT ME</button>
  <button mat-button (click)="scrollToElement(resume)">RESUME</button>
  <button mat-button (click)="scrollToElement(portfolio)">PORTFOLIO</button>
  <button mat-button (click)="scrollToElement(contact)">CONTACT</button>
</span>
</mat-toolbar>

  <h1>
    Welcome to {{ title }}!
  </h1>

<div style="min-height: 500px"></div>
  <div #aboutMe><about-me></about-me> </div>
  <div style="min-height: 500px"></div>
  <div #resume><resume></resume> </div>
  <div style="min-height: 500px"></div>
  <div #portfolio><portfolio></portfolio> </div>
  <div style="min-height: 500px"></div>
  <div #contact><contact></contact> </div>
  <div style="min-height: 500px"></div>
  <div style="min-height: 1000px"></div>
