<div #topOfPage></div>
<mat-toolbar *ngIf="desktop">
    <button mat-button *ngIf="!darkTheme && lightTheme" class="dark-theme-button" (click)="toggleTheme('custom-theme-dark')">
      <mat-icon [ngStyle]="{'color':'white'}"> brush </mat-icon>
    </button>
    <button mat-button *ngIf="darkTheme && !lightTheme" class="light-theme-button" (click)="toggleTheme('custom-theme-light')">
        <mat-icon [ngStyle]="{'color':'black'}"> brush </mat-icon>
      </button>


  <span flex class="center-toolbar">
    <button mat-button (click)="scrollToElement(aboutMe)">ABOUT ME</button>
    <button mat-button (click)="scrollToElement(resume)">RESUME</button>
    <button mat-button (click)="scrollToElement(portfolio)">PORTFOLIO</button>
    <button mat-button (click)="scrollToElement(contact)">CONTACT</button>
  </span>
</mat-toolbar>

  <img
    mat-card-image
    src="{{ altBackgroundImage }}"
    alt="{{ backgroundImage }}"
    class="backgroundImageClass"
  />
  <div class="logo-title-subtitle">
    <div class="logo-div"><img mat-card-avatar src="{{ logo }}" /></div>
    <mat-card-title-group>
      <mat-card-title>
        {{ title | uppercase }}
      </mat-card-title>
      <mat-card-subtitle>
        Application Developer | Graphic Designer
      </mat-card-subtitle>
      <mat-card-subtitle class="icons">
        <a href="https://github.com/CIRR14" target="_blank">
        <img class="github-icon" src="../assets/github.png">
      </a>
      <a href="https://www.linkedin.com/in/ivanromero14/" target="_blank">
        <img class="linkedin-icon" src ="../assets/linkedin.svg">
      </a>
      <a href="https://cesarromero.myportfolio.com/" target="_blank">
        <img class="adobe-portfolio-icon" src ="../assets/adobe-portfolio-logo.svg">
      </a>
      </mat-card-subtitle>
    </mat-card-title-group>
  </div>





<mat-card><div #aboutMe class="top"><about-me></about-me></div></mat-card>

<mat-card><div #resume class="top"><resume></resume></div></mat-card>

<mat-card><div #portfolio class="top"><portfolio></portfolio></div></mat-card>

<mat-card><div #contact class="top"><contact></contact></div></mat-card>

<button class="btt-btn" mat-button (click)="scrollToElement(topOfPage)"> <i class="material-icons">&#xE316;</i></button>

<app-footer></app-footer>


