
    <div class="container">
        <div class="row">
          <div class="col-4">
            <mat-card-header class="left-headers">
              <span class="underlined">EDUCATION</span>
            </mat-card-header>
          </div>
          <div class="col-8">
              <mat-card-header>University of Missouri - St. Louis</mat-card-header>
              <mat-card-subtitle>
                <i>Bachelor of Science in Information Systems </i>
                ·   2016 -2019
              </mat-card-subtitle>
            </div>
          <div class="w-100"></div>
          <div class="col-4">
          </div>
          <div class="col-8">
              <mat-card-header>St. Louis Community College - Meramec </mat-card-header>
              <mat-card-subtitle>
                <i>General Education </i>
                ·   2015 -2016
              </mat-card-subtitle>
          </div>
        </div>
      </div>

      <!-- <mat-divider></mat-divider> -->

      <div class="container">
          <div class="row">
            <div class="col-4">
              <mat-card-header class="left-headers">
                <span class="underlined">WORK</span>
              </mat-card-header>
            </div>
            <div class="col-8">
                <mat-card-header>Mobile Application Developer - Co-Op</mat-card-header>
                <mat-card-subtitle>
                  <i>Ameren</i>
                  ·   Jan 2019 - Dec 2019
                </mat-card-subtitle>
              </div>
            <div class="w-100"></div>
            <div class="col-4">
            </div>
            <div class="col-8">
                <mat-card-header>Graphic Designer</mat-card-header>
                <mat-card-subtitle>
                  <i>Freelance </i>
                  ·   Ongoing
                </mat-card-subtitle>
            </div>
          </div>
          <div class="row">
              <div class="col-4">
                <mat-card-header class="left-headers">
                </mat-card-header>
              </div>
              <div class="col-8">
                  <mat-card-header>UMSL | Hack v4</mat-card-header>
                  <mat-card-subtitle>
                    <i>1st Place</i>
                    ·   Feb 2019
                  </mat-card-subtitle>
                </div>
              <div class="w-100"></div>
              <div class="col-4">
              </div>
              <div class="col-8">
                  <mat-card-header>Front End Developer Intern</mat-card-header>
                  <mat-card-subtitle>
                    <i>Applied Particle Technology </i>
                    ·   May 2018 - Sep 2018
                  </mat-card-subtitle>
              </div>
            </div>
        </div>

<!-- <mat-divider></mat-divider> -->

<div class="container">
  <div class="row">
    <div class="col-4">
      <mat-card-header class="left-headers">
        <span class="underlined">SKILLS</span>
      </mat-card-header>
  </div>
      <div class="col-8">
        <mat-card-content>
        </mat-card-content>
        <div class="row">
        <div class="col-6">
          <mat-card-header>JavaScript</mat-card-header>
          <mat-progress-bar mode="determinate" value="75"></mat-progress-bar>
        </div>
        <div class="col-6">
            <mat-card-header>React</mat-card-header>
            <mat-progress-bar mode="determinate" value="40"></mat-progress-bar>
        </div>
        </div>
        <div class="row">
        <div class="col-6">
              <mat-card-header>HTML5</mat-card-header>
              <mat-progress-bar mode="determinate" value="95"></mat-progress-bar>
        </div>
        <div class="col-6">
                <mat-card-header>Photoshop</mat-card-header>
                <mat-progress-bar mode="determinate" value="95"></mat-progress-bar>
        </div>
        </div>
        <div class="row">
          <div class="col-6">
            <mat-card-header>CSS</mat-card-header>
            <mat-progress-bar mode="determinate" value="95"></mat-progress-bar>
          </div>
          <div class="col-6">
            <mat-card-header>Illustrator</mat-card-header>
            <mat-progress-bar mode="determinate" value="95"></mat-progress-bar>
          </div>
          </div>
          <div class="row">
        <div class="col-6">
          <mat-card-header>Angular 7 </mat-card-header>
          <mat-progress-bar mode="determinate" value="80"></mat-progress-bar>
        </div>
          <div class="col-6">
            <mat-card-header>InDesign</mat-card-header>
            <mat-progress-bar mode="determinate" value="90"></mat-progress-bar>
          </div>
          </div>
        <div class="row">
            <div class="col-6">
              <mat-card-header>Ionic Framework</mat-card-header>
              <mat-progress-bar mode="determinate" value="75"></mat-progress-bar>
            </div>
            <div class="col-6">
                <mat-card-header>AdobeXD</mat-card-header>
                <mat-progress-bar mode="determinate" value="95"></mat-progress-bar>
              </div>
            </div>
            <div class="row">
            <div class="col-6">
              <mat-card-header>Java</mat-card-header>
              <mat-progress-bar mode="determinate" value="45"></mat-progress-bar>
            </div>
            <div class="col-6">
                <mat-card-header>Firebase</mat-card-header>
                <mat-progress-bar mode="determinate" value="40"></mat-progress-bar>
              </div>
            </div>
            <div class="row">
                <div class="col-6">
                   <mat-card-header>AWS</mat-card-header>
                  <mat-progress-bar mode="determinate" value="50"></mat-progress-bar>
                </div>
                <div class="col-6">
                    <mat-card-header>Microsoft 365</mat-card-header>
                    <mat-progress-bar mode="determinate" value="95" ></mat-progress-bar>
                  </div>
                </div>
        </div>
      <div class="w-100"></div>
      <div class="col-4">
      </div>
    </div>
  </div>


