/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import '~bootstrap/dist/css/bootstrap.min.css';

// html, body { height: 100%; }
// body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

@import '~@angular/material/theming';
@include mat-core();

$custom-primary: mat-palette($mat-blue);
$custom-secondary: mat-palette($mat-teal);

$custom-theme-dark: mat-dark-theme($custom-primary, $custom-secondary);
$custom-theme-light: mat-light-theme($custom-primary, $custom-secondary);

.custom-theme-dark {
  @include angular-material-theme($custom-theme-dark);
}

.custom-theme-light {
  @include angular-material-theme($custom-theme-light);
}

body {
  width: 100% !important;
}

html {
  background-color: #424242;
}

// @include angular-material-theme($custom-theme-dark);
